@charset "utf-8";
/* CSS Document */

.matar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
		
		}
		
	
		
	.mata {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	
		
}

	.fontstyle{
	color: #666666;
	font-family: "微軟正黑體 Light";
		line-height: 24px;
		font-size: 1.1em;
}

.toooot{
	text-align: center
}